.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:32.000000px;}
.fs1{font-size:36.000000px;}
.fs0{font-size:40.000000px;}
.y1b{bottom:362.965996px;}
.y1a{bottom:372.164993px;}
.y19{bottom:381.363991px;}
.y18{bottom:390.779991px;}
.y17{bottom:412.410995px;}
.y16{bottom:421.609993px;}
.y15{bottom:430.808998px;}
.y14{bottom:440.224995px;}
.y13{bottom:473.354996px;}
.y12{bottom:482.553995px;}
.y11{bottom:491.752998px;}
.y10{bottom:500.951996px;}
.yf{bottom:510.151001px;}
.ye{bottom:519.567001px;}
.yd{bottom:541.197998px;}
.yc{bottom:550.396996px;}
.yb{bottom:559.596001px;}
.ya{bottom:568.794998px;}
.y9{bottom:577.993999px;}
.y8{bottom:587.192999px;}
.y7{bottom:596.391998px;}
.y6{bottom:605.807999px;}
.y5{bottom:638.938002px;}
.y4{bottom:648.137001px;}
.y3{bottom:657.553001px;}
.y2{bottom:679.184000px;}
.y1{bottom:688.600000px;}
.y0{bottom:710.664000px;}
.h3{height:22.234375px;}
.h4{height:24.398438px;}
.h1{height:27.109375px;}
.h2{height:27.792969px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:72.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:48.000000pt;}
.fs0{font-size:53.333333pt;}
.y1b{bottom:483.954661pt;}
.y1a{bottom:496.219991pt;}
.y19{bottom:508.485321pt;}
.y18{bottom:521.039988pt;}
.y17{bottom:549.881327pt;}
.y16{bottom:562.146657pt;}
.y15{bottom:574.411997pt;}
.y14{bottom:586.966660pt;}
.y13{bottom:631.139994pt;}
.y12{bottom:643.405327pt;}
.y11{bottom:655.670664pt;}
.y10{bottom:667.935994pt;}
.yf{bottom:680.201335pt;}
.ye{bottom:692.756002pt;}
.yd{bottom:721.597331pt;}
.yc{bottom:733.862661pt;}
.yb{bottom:746.128001pt;}
.ya{bottom:758.393331pt;}
.y9{bottom:770.658666pt;}
.y8{bottom:782.923999pt;}
.y7{bottom:795.189331pt;}
.y6{bottom:807.743998pt;}
.y5{bottom:851.917336pt;}
.y4{bottom:864.182668pt;}
.y3{bottom:876.737335pt;}
.y2{bottom:905.578667pt;}
.y1{bottom:918.133334pt;}
.y0{bottom:947.551999pt;}
.h3{height:29.645833pt;}
.h4{height:32.531250pt;}
.h1{height:36.145833pt;}
.h2{height:37.057292pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:96.000000pt;}
}
